## Ignore Visual Studio temporary files, build results, and
## user-specific files

.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

## Build results
[Bb]in/
[Oo]bj/

## NuGet packages
*.nupkg
*.snupkg
packages/

## Visual Studio Code settings
.vscode/

## Others
*.log
*.db
